@typeparam T
@inject NavigationManager NavigationManager

<div style="overflow-x: auto;">
    <h3>@typeof(T).Name Index</h3>

    @if (Items == null)
    {
        <p>Loading...</p>
    }
    else
    {
     @*    <QuickGrid Items="Items">
            @foreach (var column in GetColumns())
            {
                <TemplateColumn Title="@column.Title" Property="@column.Property" />
            }
        </QuickGrid>
   *@

    }
</div>

@code {
    [Parameter] public IQueryable<T> Items { get; set; }
    [Parameter] public EventCallback<T> OnDelete { get; set; }
    [Parameter] public string EditPageUrl { get; set; }

    private void NavigateToEdit(T item)
    {
        var idProperty = typeof(T).GetProperty("Id");
        if (idProperty != null)
        {
            var id = idProperty.GetValue(item);
            NavigationManager.NavigateTo($"{EditPageUrl}/{id}");
        }
    }

    private async Task DeleteItem(T item)
    {
        if (OnDelete.HasDelegate)
        {
            await OnDelete.InvokeAsync(item);
        }
    }

    private List<PropertyColumn> GetColumns()
    {
        var properties = typeof(T).GetProperties();
        var columns = new List<PropertyColumn>();
        foreach (var property in properties)
        {
            var title = property.Name;
            var column = new PropertyColumn
            {
                Title = title,
                Property = property.Name
            };
            columns.Add(column);
        }
        return columns;
    }

    public class PropertyColumn
    {
        public string Title { get; set; }
        public string Property { get; set; }
    }
}
