<div class="container-fluid py-2">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="card mt-4">
                <div class="card-header p-3">
                    <div class="row">
                        <div class="col-lg-6 col-5 my-auto">
                            <h5 class="mb-0">Erreurs</h5>
                        </div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <div class="dropdown float-lg-end">
                                <a class="cursor-pointer" @onclick="OnRecover">
                                    <i class="fa fa-times text-secondary" style="font-size: 2rem"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-3 py-0">
                    <div class="alert alert-danger alert-dismissible text-white" role="alert">
                        @if (Exception.Message != null) { }
                        <span class="text-sm text-bold">@Exception.Message</span>
                        @* <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Exception Exception { get; set; }
    [Parameter] public EventCallback OnRecover { get; set; }
}